<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body id="about">
    <ul>
        <li><a href="/contact">Contact</a></li>
        <li><a href="#">/</a></li>
        <li><a href="about">About</a></li>
        <li><a href="#">/</a></li>
        <li><a href="/">Home</a></li>
      </ul>
      
      <div class="row">
        <div class="column" id="pic">
            <img src="img/IMG.JPG" alt="image">
        </div>
        
        <div class="column">
            <h3>I'm Vahid, a Back-End Developer based in Toronto, Canada.</h3>
            <p>I've enjoyed turning complex problems into simple, beautiful and intuitive solutions.
                 When I'm not coding, you'll find me walking, exercising or cooking.
            </p>
            <h3>A brief history</h3>
            <p class="title">Java Developer<br>
                DataPassports™, Toronto<br>
                02/2022 – present</p>
            <p>• Coding Application Development in Java programming and Sprint Boot framework
                to build and develop the application platform.
            </p>
            <p>• Responsible for the delivery of finalized and approved client document.</p>
            
            <p class="title">
                Operation Support Analyst<br>
                DataPassports™, Toronto<br>
                06/2021 - 01/2022
            </p>

            <p>
                • Gain detailed knowledge of Application and its key components by working 
                closely with Client Services, DevOps, and QA teams to communicate, report, resolve, escalate, client issues, thereby reducing business impact.
            </p>
            <p>
                • Follow incident management process by coordinated root cause
                 analysis and tracking ticket completion.
            </p>

            <p>
                • Develop service level agreements for operations 
                support center and managed services.
            </p>
        </div>
    </div>
</body>
</html>