<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body id="contact">
    <ul>
        <li><a href="/contact">Contact</a></li>
        <li><a href="#">/</a></li>
        <li><a href="about">About</a></li>
        <li><a href="#">/</a></li>
        <li><a href="/">Home</a></li>
    </ul>
 
    <div id="contactBox">
        <div id="contactCirBox">
            <div id="contactCir2Box">
                <div id="contactCir3Box">
                    <div id="contactInnerBox">
                        <div class="rowContact">
                            <div class="columnContact">
                                <h1>CONTACT ME</h1>
                                <p>If you'd like to make an enquiry, please feel free to get in touch,
                                    and I will respond as soon as possible.<br>
                                </p>
                                <p>
                                    If you prefer to contact me directly, send your Email to:<br>
                                    vahid.ghsharaf@gmail.com
                                </p>
                                <p>
                                    contect me on Linkedin:
                                    <a href="https://www.linkedin.com/in/vahid-ghaedsharaf" target="_blank" rel="noopener noreferrer">
                                        vahid-ghaedsharaf</a>
                                </p>
                            </div>
                            <div class="columnContact">
                                <form>
                                    <label for="name">NAME:*</label><br>
                                    <input type="text" id="name" name="name" required="required"><br>
                                    <label for="email">EMAIL:*</label><br>
                                    <input type="text" id="email" name="email" required="required"><br>
                                    <label for="message">MESSAGE:* (1000 CHARACTERS)</label><br>
                                    <textarea id="message" placeholder="Your Message" name="message" maxlength="1000">
                                    </textarea><br><br>
                                    <input id="submit" type="submit" value="SEND">
                                  </form> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>