<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body id="contact">
    <ul>
        <li><a href="/contact">Contact</a></li>
        <li><a href="#">/</a></li>
        <li><a href="about">About</a></li>
        <li><a href="#">/</a></li>
        <li><a href="/">Home</a></li>
    </ul>
 
    <div id="contactBox">
        <div id="contactCirBox">
            <div id="contactCir2Box">
                <div id="contactCir3Box">
                    <div id="contactInnerBox">
                        <h1>CONTACT ME</h1>
                        <p>test</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>