<%- include('header'); -%>
    <div id="introduce">
        <h1>HI, I'M VAHID</h1>
        <p id="job">I'M A Software Developer</p>
        <a href='/about'><p id="learn">LEARN MORE</p></a>
    </div>
<%- include('footer'); -%>