body{
    background-color: #ffc300;
}

@font-face {
  font-family: 'Comic Sans MS';
  src: url("comic-sans-ms/comici.ttf");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 6px;
    text-decoration: none;
    font-size: 1.3em;
    font-family: "Comic Sans MS";
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111
  }

  #introduce{
    font-family: "Comic Sans MS";
    text-transform:uppercase;
    font-size:4em; 
    text-shadow:1px 2px rgba(0,0,0,0.2);
    color:#FFF; 
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

#introduce h1:hover{
  color: #111;
}

#job{
  font-size: .45em;
  top: 70%;
  left: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #2f4f4f;
}

#learn{
  font-size: .35em;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 90%;
  left: 50%;
  border-radius: 8px;
  border: solid white;
  margin: .1em;
  padding: .15em .5em;
}

/* #job:hover{
  text-shadow: 0 0 5px black,
              0 0 25px black,
              0 0 50px black,
              0 0 100px black;
  color: black;
} */

#learn:hover{
  background-color: white;
  color: #ffc300;
}

/* about */

#about{
  background-color: #222;
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
}

#pic img{
  border-radius: 15px;
  margin-top: 25px;
}
.column {
  float: left;
  width: 45%;
  padding: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.title{
  font-size: 15px;
  font-weight: bold;
}

/* contact */

#contact{
  background-color: #02c9c9;
  font-family: "Comic Sans MS";
  color: white;
}



#contactBox{
  border: 6px solid white;
  margin: 0 18%;
  position: relative;
}

#contactInnerBox{
  border: 6px solid white;
  margin: .70% .70%;
  position: relative;
}

#contactCirBox{
  border: 4.5px dotted white;
  margin: .70% .70%;
  position: relative;
}

#contactCir2Box{
  border: 4.5px dotted white;
  margin: .70% .70%;
  position: relative;
}

#contactCir3Box{
  border: 4.5px dotted white;
  margin: .70% .70%;
  position: relative;
}

.columnContact {
  float: left;
  width: 45%;
  padding: 15px;
}

.rowContact:after {
  content: "";
  display: table;
  clear: both;
}

input, textarea{
  background-color:#02c9c9 ;
  display: inline-block;
  border: 1px solid white;
  border-radius: 8px;
  /* box-sizing: border-box; */
  width: 90%;
  height: 25px;
}

#message{
  height: 80px;
}


.columnContact a{
  color:white;
  text-decoration: none;
  font-weight: bold;
}

#submit{
  background-color: #605f5f;
  float: right;
  margin-right: 20px;
  width: 40%;
  height: 40px;
  font-size: 25px;
  color: white;
  
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

/* @media screen and (max-width:1090px) {
  form{
    margin-left: 20px ;
  }
  input, textarea{
    width: 80%
  }
} */

@media screen and (max-width:950px) {
  #introduce{
    font-size:3em;
  }

  #pic img{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;  
    border-radius: 15px;
  }  
  .column {
    width: 100%;
  }

  #submit{
    font-size: 20px;
  }
}

@media screen and (max-width:750px) {
  #introduce{
    font-size:200%;
  }

  #submit{
    width: 70%;
  }
}

@media screen and (max-width:450px) {
  #introduce{
    font-size:150%;
  }

  #contactBox{
    border: 6px solid white;
    margin: 0 8%;
    position: relative;
  }
}

@media screen and (max-width:350px) {
  #introduce{
    font-size:120%;
  }

  #contactBox{
    border: 6px solid white;
    margin: 0 3%;
    position: relative;
  }

  #submit{
    font-size: 15px;
    width: 80%;
  }
}



/* #audio{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20pc;
} */

/* @media only screen and (max-width: 650px) {
    img{
        width: 30%;
        height: 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15%;
    }    
} */